In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
import requests

Import data from URL

In [2]:
url="http://download.bls.gov/pub/time.series/le/le.data.1.AllData"
s=requests.get(url).content
df=pd.read_csv(io.StringIO(s.decode('utf-8')),sep="\t")

In [3]:
df.head(10)

           series_id  year period         value footnote_codes
0  LES1252881500      1979    Q01           232
1  LES1252881500      1979    Q02           239
2  LES1252881500      1979    Q03           243
3  LES1252881500      1979    Q04           248
4  LES1252881500      1980    Q01           254
5  LES1252881500      1980    Q02           257
6  LES1252881500      1980    Q03           266
7  LES1252881500      1980    Q04           269
8  LES1252881500      1981    Q01           276
9  LES1252881500      1981    Q02           279

In [4]:
df.columns
df.dtypes

series_id         object
year               int64
period            object
value             object
footnote_codes    object
dtype: object

In [5]:
df['series_id']=df['series_id'].astype('category')
df['series_id']=df['series_id'].str.strip()
df2=df[df['series_id'].isin(['LES1252881500BLA','LES1252882700ABC','LEU0203128000'])]
df2.head(10)

          series_id  year period         value footnote_codes
1638  LEU0203128000  2000    A01           387
1639  LEU0203128000  2001    A01           289
1640  LEU0203128000  2002    A01           231
1641  LEU0203128000  2003    A01           215
1642  LEU0203128000  2004    A01           249
1643  LEU0203128000  2005    A01           196
1644  LEU0203128000  2006    A01           162
1645  LEU0203128000  2007    A01           122
1646  LEU0203128000  2008    A01           125
1647  LEU0203128000  2009    A01           472

In [6]:
df.value=pd.to_numeric(df.value, errors='coerce')