In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
import requests

In [2]:
#Import data for what series I need, filter out relevant series only
url="http://download.bls.gov/pub/time.series/le/le.series"
s=requests.get(url).content

#filter and set to correct types
series_id=pd.read_csv(io.StringIO(s.decode('utf-8')),sep="\t")
series_id['seasonal']=series_id['seasonal'].astype('str')
series_id['seasonal']=series_id['seasonal'].str.strip()
series_id['series_id']=series_id['series_id'].astype('category')
series_id['series_id']=series_id['series_id'].str.strip()

series_id2=series_id[(series_id.lfst_code==25)&
                    (series_id.fips_code==0)&
                    (series_id.tdata_code==0)&
                    (series_id.pcts_code==0)&
                    (series_id.earn_code==1)&
                    (series_id.class_code==16)&
                    (series_id.unin_code==0)&
                    (series_id.indy_code==0)&
                    (series_id.occupation_code==0)&
                    (series_id.education_code==0)&
#                    (series_id.ages_code==0)&
                    (series_id.race_code==0)&
                    (series_id.orig_code==0)&
                    (series_id.born_code==0)&
#                    (series_id.sexs_code==0)&
                    (series_id.seasonal=='U')]
series_id2=series_id2.loc[:,['series_id','sexs_code','ages_code','earn_code']]

In [3]:
#import data set and filter out relevant series
url="http://download.bls.gov/pub/time.series/le/le.data.1.AllData"
s=requests.get(url).content
df=pd.read_csv(io.StringIO(s.decode('utf-8')),sep="\t")
df['series_id']=df['series_id'].astype('category')
df['series_id']=df['series_id'].str.strip()
df=df[df['series_id'].isin(series_id2['series_id'])]
df=df[(df.year==2015)&(df.period=='Q05')]

In [4]:
#merge with series and ages
df2=pd.merge(df,series_id2, on='series_id')

#download ages
url="http://download.bls.gov/pub/time.series/le/le.ages"
s=requests.get(url).content
ages=pd.read_csv(io.StringIO(s.decode('utf-8')),sep="\t",index_col=False)

df2=pd.merge(df2,ages, on='ages_code')
df2.head(20)

,series_id,year,period,value,footnote_codes,sexs_code,ages_code,earn_code,ages_text
0,LEU0252881500,2015,Q05,809,,0,0,1,16 years and over
1,LEU0252881800,2015,Q05,895,,1,0,1,16 years and over
2,LEU0252882700,2015,Q05,726,,2,0,1,16 years and over
3,LEU0252882100,2015,Q05,510,,1,10,1,16 to 24 years
4,LEU0252883000,2015,Q05,450,,2,10,1,16 to 24 years
5,LEU0252886300,2015,Q05,487,,0,10,1,16 to 24 years
6,LEU0252882400,2015,Q05,947,,1,28,1,25 years and over
7,LEU0252883300,2015,Q05,761,,2,28,1,25 years and over
8,LEU0252887700,2015,Q05,860,,0,28,1,25 years and over
9,LEU0252886500,2015,Q05,389,,0,8,1,16 to 19 years
10,LEU0252886700,2015,Q05,407,,1,8,1,16 to 19 years
11,LEU0252886900,2015,Q05,364,,2,8,1,16 to 19 years
12,LEU0252887100,2015,Q05,501,,0,20,1,20 to 24 years
13,LEU0252887300,2015,Q05,522,,1,20,1,20 to 24 years
14,LEU0252887500,2015,Q05,468,,2,20,1,20 to 24 years
15,LEU0252887900,2015,Q05,845,,0,33,1,25 to 54 years
16,LEU0252888100,2015,Q05,921,,1,33,1,25 to 54 years
17,LEU0252888300,2015,Q05,757,,2,33,1,25 to 54 years
18,LEU0252888500,2015,Q05,735,,0,31,1,25 to 34 years
19,LEU0252888700,2015,Q05,770,,1,31,1,25 to 34 years

In [5]:
plt.figure()
plt.plot(df2.year,df2.value)
plt.show()

AttributeError: 'Series' object has no attribute 'find'