In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
import requests

Import data from URL

In [2]:
url="http://download.bls.gov/pub/time.series/le/le.series"
s=requests.get(url).content
df=pd.read_csv(io.StringIO(s.decode('utf-8')),sep="\t")

In [5]:
df.head(5)

,series_id,lfst_code,fips_code,series_title,tdata_code,pcts_code,earn_code,class_code,unin_code,indy_code,...,race_code,orig_code,sexs_code,born_code,seasonal,footnote_codes,begin_year,begin_period,end_year,end_period
0,LES1252881500,25,0,(Seas)- Median usual weekly earnings (second q...,0,0,1,16,0,0,...,0,0,0,0,S,,1979,Q01,2016,Q01
1,LES1252881600,25,0,(Seas)- Constant (1982-84) dollar adjusted to ...,0,0,2,16,0,0,...,0,0,0,0,S,,1979,Q01,2016,Q01
2,LES1252881800,25,0,(Seas)- Median usual weekly earnings (second q...,0,0,1,16,0,0,...,0,0,1,0,S,,1979,Q01,2016,Q01
3,LES1252881900,25,0,(Seas)- Constant (1982-84) dollar adjusted to ...,0,0,2,16,0,0,...,0,0,1,0,S,,1979,Q01,2016,Q01
4,LES1252882700,25,0,(Seas)- Median usual weekly earnings (second q...,0,0,1,16,0,0,...,0,0,2,0,S,,1979,Q01,2016,Q01

In [6]:
df.columns

Index([u'series_id', u'lfst_code', u'fips_code', u'series_title',
       u'tdata_code', u'pcts_code', u'earn_code', u'class_code', u'unin_code',
       u'indy_code', u'occupation_code', u'education_code', u'ages_code',
       u'race_code', u'orig_code', u'sexs_code', u'born_code', u'seasonal',
       u'footnote_codes', u'begin_year', u'begin_period', u'end_year',
       u'end_period'],
      dtype='object')